:root{
    --cor-de-fundo:#ffffff;
    --cor-da-font:#white;
    --cor-dos-titulos:#188732;
    --cor-de-fundo-cabecalho:#ffffff;
}

body{
    background-color: var(--cor-de-fundo);
}

.conteudo1{
    color: white;
    font-size:18px;
    font-family: "Inter", sans-serif;
}
.rodape{
    background-color: #0d8c47;
    color: white;
    
}

