:root{
    --cor-de-fundo:#01833c;
    --cor-da-font:#000000;
    --cor-dos-titulos:#ffffff;
    --cor-de-fundo-cabecalho:#ffffff;
}

body{
    background-color: var(--cor-de-fundo);
}

.conteudo1{
    color: white;
    font-size:18px;
    font-family: "Inter", sans-serif;
    background-position: center;
}
.rodape{
    background-color: #0d8c47;
    color: white;
    
}

